.animated-gradient {
    background: linear-gradient(
      -145deg,
      #ab7ed5,
      #41cf5b,
     
      #6b65d9,
      #cf244c,
      #8bcccc,
    
      #5e0f8f,
      #6b00cf,
      #b499af
    );
    background-size: 800% 800%;
    animation: gradientShift 6s ease-in-out infinite;
    color: white;
  }
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .text-gradient {
    animation: fadeIn 1.5s ease-out;
  }
  